@model IEnumerable<LogIt.Models.FoodDayListItem>

<div id="mytableborder">
    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.FoodDayId)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.DateProfile)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.FoodDayId)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.DateProfile)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.ActionLink("Add A Food Item", "CreateFoodDayItemFromFoodDay", "FoodDayItem", new { dayId = item.FoodDayId }, new { @class = "btn btn-primary btn-large" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "FoodDay", new { id = item.FoodDayId }, null)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "FoodDay", new { id = item.FoodDayId }, null)
                </td>

                <td>
                    @Html.ActionLink("Delete", "Delete", "FoodDay", new { id = item.FoodDayId }, null)
                </td>

            </tr>
        }

    </table>
    <div id="mypadding">
        @Html.ActionLink("Create Day", "Create", "FoodDay", null, new { @class = "btn btn-primary btn-large" })
    </div>

</div>
