@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LOGIT</h1>
    <p class="lead">LOGIT is a food tracking application that helps you get a baseline for your current eating habits and potentially plan for a change.</p>
    <p>@Html.ActionLink("Learn How It Works!", "Learn", "Home", null, new { @class = "btn btn-primary btn-large" })</p>
</div>

<div class="row">
    @if (!User.Identity.IsAuthenticated)
    {
    <div class="col-md-4">
        <h2>Register an Account</h2>
        <p>
            Join today and begin your food awareness journey!
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary btn-large" })</p>
        <p>@Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
        <div class="col-md-4">
            <h2>Explore Our Food Database</h2>
            <p>See what food items are currently available to log!</p>
            <p>@Html.ActionLink("Food Items", "NonUserIndex", "FoodItem", null, new { @class = "btn btn-primary btn-large" })</p>
        </div>

    }
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2>Explore/Add Food Items</h2>
            <p>See what food items are currently available to log, research your favorite foods, and add the nutritional information right in this app to begin using them in your food plans!</p>
            <p>@Html.ActionLink("Food Items", "Index", "FoodItem", null, new { @class = "btn btn-primary btn-large" })</p>
        </div>
        <div class="col-md-4">
            <h2>Plan Your Day</h2>
            <p>Select your goal profile, and plan out what you will eat today, and beyond!</p>
            <p>@Html.ActionLink("Make a Profile", "Index", "UserProfile", null, new { @class = "btn btn-primary btn-large" })</p>
            <p>@Html.ActionLink("Make a Day", "Index", "FoodDay", null, new { @class = "btn btn-primary btn-large" })</p>
        </div>
    }
</div>