@model LogIt.Models.Home.HomeObject

    <div class="welcome">
        <h1>Welcome, @ViewBag.FullName!</h1>
        <h4>[CURRENT PROGRESS: Profiles: @Model.Profiles.Count(), Days: @Model.FoodDays.Count(), Total Food Items Added To Days: @Model.FoodDayItems.Count()]</h4>
        <p class="lead">Let's get to work!</p>
        @if (Model.FoodDays.Count() < 1)
        {
            if (Model.Profiles.Count() < 1)
            {
                <p><b>LOGIT Checklist:</b></p>
                <p><strike>1. Check out our Food Database</strike></p>
                <p><strike>2. Register Your Account</strike></p>
                <p>3. Build a Profile</p>
                <p>4. Build a Day</p>
                <p>5. Add Food Items to your day</p>
                <p>6. Add Food Items to our database that we don't already have</p>
                <br />
                <p><b>You do not have any profiles - let's get on that!</b></p>
                <div class="partiallist">
                    <h2>Profiles</h2>
                    <hr />
                    @Html.Partial("ProfilesPartial", Model.Profiles)
                </div>
                <div class="partiallist">
                    <h2>Food Items</h2>
                    <hr />
                    @Html.Partial("FoodItemsPartial", Model.FoodItems)
                </div>
            }
            if (Model.Profiles.Count() >= 1)
            {
                <p><b>LOGIT Checklist:</b></p>
                <p><strike>1. Check out our Food Database</strike></p>
                <p><strike>2. Register Your Account</strike></p>
                <p><strike>3. Build a Profile</strike></p>
                <p>4. Build a Day</p>
                <p>5. Add Food Items to your day</p>
                <p>6. Add Food Items to our database that we don't already have</p>
                <br />
                <p><b>You haven't made any days yet - let's get on that!</b></p>
                <p><b>Pick one of your profiles below or build a new profile to make your day from:</b></p>

                <div class="partiallist">
                    <h2>Profiles</h2>
                    <hr />
                    @Html.Partial("ProfilesPartial", Model.Profiles)
                </div>
                <div class="partiallist">
                    <h2>Days</h2>
                    <hr />
                    @Html.Partial("DaysPartial", Model.FoodDays)
                </div>
                <div class="partiallist">
                    <h2>Food Items</h2>
                    <hr />
                    @Html.Partial("FoodItemsPartial", Model.FoodItems)
                </div>
            }
        }
        @if (Model.FoodDays.Count() >= 1)
        {
            if (Model.FoodDayItems.Count() < 1)
            {
                <p><b>LOGIT Checklist:</b></p>
                <p><strike>1. Check out our Food Database</strike></p>
                <p><strike>2. Register Your Account</strike></p>
                <p><strike>3. Build a Profile</strike></p>
                <p><strike>4. Build a Day</strike></p>
                <p>5. Add Food Items to your day</p>
                <p>6. Add Food Items to our database that we don't already have</p>
                <br />
                <p><b>It's time to start adding Food Items to your days - pick a day below, and begin building out your food plan!</b></p>
                <div class="partiallist">
                    <h2>Profiles</h2>
                    <hr />
                    @Html.Partial("ProfilesPartial", Model.Profiles)
                </div>
                <div class="partiallist">
                    <h2>Days</h2>
                    <hr />
                    @Html.Partial("DaysPartial", Model.FoodDays)
                </div>
                <div class="partiallist">
                    <h2>Food Items</h2>
                    <hr />
                    @Html.Partial("FoodItemsPartial", Model.FoodItems)
                </div>
            }
            if (Model.FoodDayItems.Count() >= 1)
            {
                <p><b>Pick one of your Days below to edit or build a new day from one of your profiles below</b></p>
                <div class="partiallist">
                    <h2>Profiles</h2>
                    <hr />
                    @Html.Partial("ProfilesPartial", Model.Profiles)
                </div>
                <div class="partiallist">
                    <h2>Days</h2>
                    <hr />
                    @Html.Partial("DaysPartial", Model.FoodDays)
                </div>
                <div class="partiallist">
                    <h2>Food Items</h2>
                    <hr />
                    @Html.Partial("FoodItemsPartial",Model.FoodItems)
                </div>
            }
        }
        @*A Partial for showing today if there is one
        @if(Model.Today ==(search in Model.FoodDays)(also need to just pull M,D,Y since DateTime is time too))*@
        @*<p>@Html.ActionLink("See Your Recent Progress", "Index", "UserData", null, new { @class = "btn btn-primary btn-large" })</p>*@
    </div>
