@model LogIt.Models.FoodDayDetail

<div class="partiallist">

    <h2>@Html.DisplayFor(model => model.Date) - @Html.DisplayFor(model => model.ProfileTitle)</h2>
    <h3>@Model.ProfileDescription</h3>
    <div id="mytableborder">
        <table class="table">
            <tr>
                <th id="b-ground-font">Name</th>
                <th>Cals</th>
                <th>Carbs</th>
                <th>Fib</th>
                <th>Fat</th>
                <th>Prot</th>
                <th>Sod</th>
                <th>Pot</th>
                <th id="b-ground-font">
                    <span><b>  |  </b></span>
                </th>
                <th id="b-ground-font">Cal %</th>
                <th id="b-ground-font">Carb Wgt</th>
                <th id="b-ground-font">Fib Wgt</th>
                <th id="b-ground-font">Fat Wgt</th>
                <th id="b-ground-font">Prot Wgt</th>
                <th id="b-ground-font">Sod Wgt</th>
                <th id="b-ground-font">Pot Wgt</th>
                <th id="b-ground-font">
                    <span><b>  |  </b></span>
                </th>
                <th id="b-ground-font">Edit</th>
                <th id="b-ground-font">Details</th>
                <th id="b-ground-font">Delete</th>
            </tr>
            <tr>
                <td><b>Targets</b></td>
                <td>@Html.DisplayFor(model => model.ProfileCalories)</td>
                <td>@Html.DisplayFor(model => model.ProfileCarbs)</td>
                <td>@Html.DisplayFor(model => model.ProfileFiber)</td>
                <td>@Html.DisplayFor(model => model.ProfileFat)</td>
                <td>@Html.DisplayFor(model => model.ProfileProtein)</td>
                <td>@Html.DisplayFor(model => model.ProfileSodium)</td>
                <td>@Html.DisplayFor(model => model.ProfilePotassium)</td>
                <td id="b-ground-font">
                    <span><b>  |  </b></span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Actual</b></td>
                <td>@Html.DisplayFor(model => model.CaloriesSum)</td>
                <td>@Html.DisplayFor(model => model.CarbsSum)</td>
                <td>@Html.DisplayFor(model => model.FiberSum)</td>
                <td>@Html.DisplayFor(model => model.FatSum)</td>
                <td>@Html.DisplayFor(model => model.ProteinSum)</td>
                <td>@Html.DisplayFor(model => model.SodiumSum)</td>
                <td>@Html.DisplayFor(model => model.PotassiumSum)</td>
                <td id="b-ground-font">
                    <span><b>  |  </b></span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Diff</b></td>
                <td>@Html.DisplayFor(model => model.CaloriesDiff)</td>
                <td>@Html.DisplayFor(model => model.CarbsDiff)</td>
                <td>@Html.DisplayFor(model => model.FiberDiff)</td>
                <td>@Html.DisplayFor(model => model.FatDiff)</td>
                <td>@Html.DisplayFor(model => model.ProteinDiff)</td>
                <td>@Html.DisplayFor(model => model.SodiumDiff)</td>
                <td>@Html.DisplayFor(model => model.PotassiumDiff)</td>
                <td id="b-ground-font">
                    <span><b>  |  </b></span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

<div class="partiallist">
    @*@Html.ActionLink("Food Items", "IndexFoodDay","FoodDayItem", new { foodDayId = Model.FoodDayId },null)*@
    @*@Html.RenderAction("IndexFoodDay", "FoodDayItem",new { foodDayId=Model.FoodDayId })*@
    @Html.Partial("FoodDayItemsPartial", Model.FoodDayItemDetails)
    @if (Model.FoodDayItemDetails.Count() == 0)
    {
        <div id="mypadding">
            @Html.ActionLink("Add Item", "CreateFoodDayItemFromFoodDay", "FoodDayItem", new { dayId = Model.FoodDayId }, new { @class = "btn btn-primary btn-large" })

            @*new { foodDayId=Model.FoodDayId }*@
            @*@Html.RenderAction("Index", "FoodDayItem")*@
        </div>
    }
</div>
<br />

@*<div class="partiallist">
        <div id="mytableborder">
            <table class="table" id="mytableformat">
                <tr>
                    <th id="b-ground-font">Name</th>
                    <th>Cals</th>
                    <th id="b-ground-font">Cal %</th>
                    <th>Carbs</th>
                    <th id="b-ground-font">Carb Wgt</th>
                    <th>Fib</th>
                    <th id="b-ground-font">Fib Wgt</th>
                    <th>Fat</th>
                    <th id="b-ground-font">Fat Wgt</th>
                    <th>Prot</th>
                    <th id="b-ground-font">Prot Wgt</th>
                    <th>Sod</th>
                    <th id="b-ground-font">Sod Wgt</th>
                    <th>Pot</th>
                    <th id="b-ground-font">Pot Wgt</th>
                    <th id="b-ground-font">Edit</th>
                    <th id="b-ground-font">Details</th>
                    <th id="b-ground-font">Delete</th>
                </tr>
                <tr>
                    <td><b>Total:   </b></td>
                    <td>@Html.DisplayFor(model => model.CaloriesSum)</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.CarbsSum)</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.FiberSum)</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.FatSum)</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.ProteinSum)</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.SodiumSum)</td>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.PotassiumSum)</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>*@

<div id="mytableborder">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedUtc)</th>
            <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
            <th>@Html.DisplayNameFor(model => model.ModifiedUtc)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.CreatedBy)</td>
            <td>@Html.DisplayFor(model => model.CreatedUtc)</td>
            <td>@Html.DisplayFor(model => model.ModifiedBy)</td>
            <td>@Html.DisplayFor(model => model.ModifiedUtc)</td>
        </tr>
    </table>
</div>
<p>
    @*//maybe a an if statement here to only display edit if you created it, and also a duplicate option?*@
    @*@Html.ActionLink("Edit", "Edit","Foodday", new { id = Model.FoodDayId },null) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
