@model LogIt.Models.FoodDayItemDetail

@{
    ViewBag.Title = "Details";
}

<h2>Food Day Item Details</h2>

<div>
    <h4>FoodDayItemDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodDayItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodDayItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodDayId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodDayId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemCalories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemCalories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalorieTarget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalorieTarget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalorieWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalorieWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemCarbs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemCarbs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarbTarget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarbTarget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarbWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarbWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemFiber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemFiber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiberTarget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiberTarget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiberWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiberWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemFat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemFat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatTarget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatTarget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemProtein)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemProtein)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProteinTarget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProteinTarget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProteinWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProteinWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemSodium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemSodium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SodiumTarget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SodiumTarget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SodiumWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SodiumWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemPotassium)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemPotassium)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotassiumTarget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotassiumTarget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotassiumWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotassiumWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FoodDayItemId }) |
    @Html.ActionLink("Back to Food Item List", "Index")
</p>
