@model LogIt.Models.FoodDayDetail


@{
    ViewBag.Title = "Details";
}

<div>

    <h2>@Html.DisplayFor(model => model.Date) - @Html.DisplayFor(model => model.ProfileTitle)</h2>
    <h4>
        TARGETS:
    </h4>
    <table>
        <tr>
            <th>Calories   </th>
            <th>     |     </th>
            <th>   Net Carbs   </th>
            <th>     |     </th>
            <th>   Fiber   </th>
            <th>     |     </th>
            <th>   Fat   </th>
            <th>     |     </th>
            <th>   Protein   </th>
            <th>     |     </th>
            <th>   Sodium   </th>
            <th>     |     </th>
            <th>   Potassium   </th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.ProfileCalories)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.ProfileCarbs)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.ProfileFiber)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.ProfileFat)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.ProfileProtein)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.ProfileSodium)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.ProfilePotassium)</td>
        </tr>
    </table>
</div>

<hr />

<div>Food Items</div>

<hr />

<div>
    <h4>
        Sums:
    </h4>
    <table>
        <tr>
            <th>Calories   </th>
            <th>     |     </th>
            <th>   Net Carbs   </th>
            <th>     |     </th>
            <th>   Fiber   </th>
            <th>     |     </th>
            <th>   Fat   </th>
            <th>     |     </th>
            <th>   Protein   </th>
            <th>     |     </th>
            <th>   Sodium   </th>
            <th>     |     </th>
            <th>   Potassium   </th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.CaloriesSum)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.CarbsSum)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.FiberSum)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.FatSum)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.ProteinSum)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.SodiumSum)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.PotassiumSum)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.CaloriesDiff)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.CarbsDiff)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.FiberDiff)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.FatDiff)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.ProteinDiff)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.SodiumDiff)</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.PotassiumDiff)</td>
        </tr>

    </table>
</div>

<hr />

<div>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedUtc)</th>
            <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
            <th>@Html.DisplayNameFor(model => model.ModifiedUtc)</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.CreatedBy)</td>
            <td>@Html.DisplayFor(model => model.CreatedUtc)</td>
            <td>@Html.DisplayFor(model => model.ModifiedBy)</td>
            <td>@Html.DisplayFor(model => model.ModifiedUtc)</td>
        </tr>
    </table>
</div>
<p>
    @*//maybe a an if statement here to only display edit if you created it, and also a duplicate option?*@
    @Html.ActionLink("Edit", "Edit", new { id = Model.FoodDayId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
