@model IEnumerable<LogIt.Models.FoodDayItemListItem>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodDayItemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodDayId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodItemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodDayItemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodDayId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodItemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
