@model IEnumerable<LogIt.Models.FoodItemListItem>
@*// how can the edit at the bottom work if the model is FoodListItem and not FoodItem? How does it know to edit FoodItem?*@

@{
    ViewBag.Title = "Index";
}

<h2>Food Item List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.FoodItemId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NutSum)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.IsStarred)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.FoodItemId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NutSum)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.IsStarred, new { Id = item.FoodItemId })
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FoodItemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.FoodItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FoodItemId }) |
                @Html.ActionLink("Add This Item To A Day", "CreateFoodDayItemFromFoodItem", "FoodDayItem", new { itemId = item.FoodItemId }, null)
            </td>
        </tr>
    }

</table>

@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("i[data-toggle='star']")
                .css({ "cursor": "pointer" })
                .click(function (e) {
                    var target = $(e.target);
                    var noteId = target.attr("data-id");
                    var starSet = target.hasClass("glyphicon-star");

                    $.ajax({
                        method: starSet ? "DELETE" : "PUT",
                        url: "/api/note/" + noteId + "/star",
                        data: null
                    })
                        .done(function (r) {
                            target.removeClass();
                            target.addClass("glyphicon " + (starSet ? "glyphicon-star-empty" : "glyphicon-star"));
                        })
                        .fail(function (r) {
                            alert("Failed to change star status");
                        });
                });
        });
    </script>
}
